@font-face {
    font-family: 'Bebas Neue';
    src: url('../assets/fonts/Bebasneue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
}

.header {
    font-family: 'Bebas Neue', sans-serif;
    color: cornflowerblue;
    font-size: 25px;           /* storlek på texten */
    display: inline-block;
    transform: scaleY(1.3);     /* gör bokstäverna högre */
    line-height: 1;
}

.midElement img{
    width: 50%;
    height: auto;
}