@font-face {
    font-family: 'Bebas Neue';
    src: url('../assets/fonts/Bebasneue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
}

.header {
    font-family: 'Bebas Neue', sans-serif;
    color: cornflowerblue;
    font-size: 25px;           /* storlek på texten */
    display: inline-block;
    transform: scaleY(1.3);     /* gör bokstäverna högre */
    line-height: 1;
}

.midElement img{
    width: 50%;
    height: auto;
}

/*Css för kategorierna */
.category-title {
    text-align: center;
    margin-top: 40px;
    font-size: 32px;
    text-transform: uppercase;
}

.category-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    margin: 40px auto;
}

.category-card {
    background: white;
    color: black;
    text-decoration: none;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    transition: 0.2s;
}

.category-card:hover {
    background: rgb(230, 230, 230);
    transform: scale(1.03);
}


/* Css för produkterna*/
.product-title {
    text-align: center;
    margin: 40px 0;
    font-size: 32px;
    text-transform: uppercase;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 20px;
}

.card {
    width: 200px;
    background: white;
    color: black;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}